<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
			<description>selection result files path</description>
			<param-name>pathOfSelectResultFiles</param-name>
			<param-value>D:/workspace/zgkx/WebContent/WEB-INF/proxyAgent/resultFiles/</param-value>
	</context-param>
	<context-param>
			<description>excel-file-real-path</description>
			<param-name>pathOfExcelFile</param-name>
			<param-value>D:/workspace/zgkx/WebContent/WEB-INF/proxyAgent/</param-value>
	</context-param>
	<context-param>
			<description>excel-file-name</description>
			<param-name>nameOfExcelFile</param-name>
			<param-value>proxyAgentData.xlsx</param-value>
	</context-param>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectAgentServlet</display-name>
		<servlet-name>PreRandomSelectAgentServlet</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectAgentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectPlanIdCheck</display-name>
		<servlet-name>PreRandomSelectPlanIdCheck</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectPlanIdCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectAgentNumsCheck</display-name>
		<servlet-name>PreRandomSelectAgentNumsCheck</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectAgentNumsCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectSearchFile</display-name>
		<servlet-name>PreRandomSelectSearchFile</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectSearchFile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectAgentList</display-name>
		<servlet-name>PreRandomSelectAgentList</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectAgentList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectDoneProject</display-name>
		<servlet-name>PreRandomSelectDoneProject</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectDoneProject</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectAlterFile</display-name>
		<servlet-name>PreRandomSelectAlterFile</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectAlterFile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PreRandomSelectAddAgent</display-name>
		<servlet-name>PreRandomSelectAddAgent</servlet-name>
		<servlet-class>com.hidy.hdoa6.caigou.PreRandomSelectAddAgent</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PreRandomSelectAgentServlet</servlet-name>
		<url-pattern>/PreRandomSelectAgentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreRandomSelectPlanIdCheck</servlet-name>
		<url-pattern>/PreRandomSelectPlanIdCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreRandomSelectAgentNumsCheck</servlet-name>
		<url-pattern>/PreRandomSelectAgentNumsCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreRandomSelectSearchFile</servlet-name>
		<url-pattern>/PreRandomSelectSearchFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreRandomSelectAgentList</servlet-name>
		<url-pattern>/PreRandomSelectAgentList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreRandomSelectDoneProject</servlet-name>
		<url-pattern>/PreRandomSelectDoneProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreRandomSelectAlterFile</servlet-name>
		<url-pattern>/PreRandomSelectAlterFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreRandomSelectAddAgent</servlet-name>
		<url-pattern>/PreRandomSelectAddAgent</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>